.politica {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    margin-top: 40vh;
  }
  
  .politica h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #ff9d3c;
    padding: 0 8rem;
    margin-bottom: 1rem;
    font-family: var(--font-molika);
  }
  
  .politica p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 2rem;
    padding: 0 6rem;
  }
  
  @media screen and (max-width: 1000px) {
    .politica h2 {
      font-size: 2rem;
    }
  
    .politica p {
      font-size: 1rem;
    }
  }
  
  @media screen and (max-width: 800px) {
    .politica h2 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
    .politica p {
      font-size: 1rem;
      margin-bottom: 1rem;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 500px) {
    .politica h2 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
    .politica p {
      font-size: 1rem;
      margin-bottom: 1rem;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 430px) {
    .politica {
      margin-top: 52vh;
    }
    .politica h2 {
      font-size: 2rem;
      padding: 1rem;
    }
    .politica p {
      font-size: 0.8rem;
      margin-bottom: 1rem;
      text-align: center;
      padding: 2rem;
    }
  }